.Header {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 10px 5px 10px; 
}

.Header-logo {
  width: 7rem;
  object-fit: contain;
  margin-right: 20px;
}

.Header-search {
  min-width: 0;
  width: 50%;
  flex: 1;
  height: 2rem;
}